<footer class="footer">

    <div class="footer-top" style="background-image: url('./assets/images/footer-illustration.png')">
      <div class="container">

        <div class="footer-brand" id="about">

          <a href="" class="logo">Spicy-SAM<span class="span">.</span></a>

          <p class="footer-text">
            Indulge in the savory delights of our non-veg haven. Savor every bite of our delectable dishes, meticulously crafted to tantalize your taste buds. Your culinary adventure begins here.
          </p>

          <ul class="social-list">

            <li>
              <a class="social-link" href="https://www.facebook.com/profile.php?id=61555214673407">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <!-- <li>
              <a class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li> -->

            <li>
              <a class="social-link" href="https://www.instagram.com/spicysam786/">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <!-- <li>
              <a class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li> -->

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <a class="footer-list-title" id="contact">Contact Info</a>
          </li>

          <li>
            <p class="footer-list-item">+91 9695199901</p>
          </li>

          <li>
            <p class="footer-list-item">spicysam786 &#64;gmail.com</p>
          </li>

          <li>
            <address class="footer-list-item">Bus stand Bahadurganj 275202 Ghazipur U.P. India</address>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Opening Hours</p>
          </li>

          <li>
            <p class="footer-list-item">Monday-Friday: 08:00-22:00</p>
          </li>

          <li>
            <p class="footer-list-item">Tuesday 4PM: Till Mid Night</p>
          </li>

          <li>
            <p class="footer-list-item">Saturday: 10:00-16:00</p>
          </li>

        </ul>

        <form class="footer-form" id="tableBooking" [formGroup]="bookingForm" (ngSubmit)="submitForm()">

          <p class="footer-list-title">Book a Table</p>

          <div class="input-wrapper">

            <input type="text" name="full_name" formControlName="full_name" required placeholder="Your Name" aria-label="Your Name" class="input-field">

            <input type="email" name="email_address" formControlName="email_address" required placeholder="Email" aria-label="Email" class="input-field">

          </div>

          <div class="input-wrapper">

            <select name="total_person" aria-label="Total person" class="input-field" formControlName="total_person">
              <option value="person">Person</option>
              <option value="2 person">2 Person</option>
              <option value="3 person">3 Person</option>
              <option value="4 person">4 Person</option>
              <option value="5 person">5 Person</option>
              <option value="custom">custom</option>
            </select>

            <input type="date" name="booking_date" aria-label="Reservation date" class="input-field" formControlName="booking_date">

          </div>

          <textarea name="message" required placeholder="Message" aria-label="Message" class="input-field" formControlName="message"></textarea>

          <button type="submit" class="btn" [disabled]="bookingForm.invalid">Book a Table</button>

        </form>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright-text">
          &copy; 2022 <a class="copyright-link">Invictara Solutions</a> All Rights Reserved.
        </p>
      </div>
    </div>

  </footer>