header{
    background: #1c1d1d87;
    .navbar-list{
        li{
            a{
                cursor: pointer;
            }
        }
    }
}
.btn{
    a{
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        scroll-behavior: smooth
    }
}