<!-- <div class="contain">
  <section class="wrapper" [ngClass]="{'active': isWrapperActive}">
    <div class="form signup" *ngIf="tab==='signup'">
      <header (click)="toggleForm('signup')">Signup</header>
      <form (submit)="signUp()" [formGroup]="signupForm">
        <input type="text" placeholder="Full name" formControlName="fullName" required />
        <div class="err"
          *ngIf="signupForm.get('fullName')?.hasError('required') && signupForm.get('fullName')?.touched">
          Full Name is required.
        </div>

        <input type="text" placeholder="Email address" formControlName="email" required />
        <div class="err" *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched">
          Email is required.
        </div>
        <input type="text" placeholder="Mobile Number" formControlName="phone" required />
        <div class="err"
          *ngIf="signupForm.get('phone')?.hasError('required') && signupForm.get('phone')?.touched">
          Full Name is required.
        </div>
        <div class="err" *ngIf="signupForm.get('phone')?.hasError('phone') && signupForm.get('phone')?.touched">
          Invalid phone number.
        </div>

        <input type="password" placeholder="Password" formControlName="password" required />
        <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched">
          Password is required.
        </div>
        <div class="err"
          *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched">
          Password must be at least 6 characters.
        </div>

        <div class="checkbox">
          <input type="checkbox" id="signupCheck" formControlName="acceptTerms" />
          <label for="signupCheck">I accept all terms & conditions</label>
        </div>
        <div class="err"
          *ngIf="signupForm.get('acceptTerms')?.hasError('required') && signupForm.get('acceptTerms')?.touched">
          You must accept the terms and conditions.
        </div>

        <input type="submit" value="Signup" />
      </form>
      <header (click)="toggleForm('login')">Login</header>
    </div>
    <div class="form login" *ngIf="tab==='login'">
      <header (click)="toggleForm('signup')">Login</header>
      <form (submit)="signIn()" [formGroup]="loginForm">
        <input type="text" placeholder="Email address" formControlName="email" required />
        <div class="err" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
          Email is required.
        </div>
        <div class="err" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
          Invalid email address.
        </div>

        <input type="password" placeholder="Password" formControlName="password" required />
        <div class="err" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
          Password is required.
        </div>
        <div class="err" *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
          Password must be at least 6 characters.
        </div>

        <a href="#">Forgot password?</a>
        <input type="submit" value="Login" />
      </form>
    </div>
  </section>
</div>

<app-head-test></app-head-test> -->
<div class="container">
  <div class="wrapper">
    <div class="title-text">
      <div class="title login" *ngIf="!formToggle">Login Form</div>
      <div class="title signup" *ngIf="formToggle">Signup Form</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login" (click)="toggleForm('login')">Login</label>
        <label for="signup" class="slide signup" (click)="toggleForm('signup')">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form  (submit)="signIn()" [formGroup]="loginForm" class="login" *ngIf="!formToggle">
          <div class="field">
            <input type="text" placeholder="Email address" formControlName="email" required />
        <div class="err" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
          Email is required.
        </div>
        <div class="err" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
          Invalid email address.
        </div>
          </div>
          <div class="field">
            <input type="password" placeholder="Password" formControlName="password" required />
            <div class="err" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
              Password is required.
            </div>
            <div class="err" *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
              Password must be at least 6 characters.
            </div>
          </div>
          <div class="pass-link"><a>Forgot password?</a></div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a (click)="toggleForm('login')">Signup now</a></div>
        </form>
        <form (submit)="signUp()" class="signup" [formGroup]="signupForm" *ngIf="formToggle">
          <div class="field">
            <input type="text" placeholder="Full name" formControlName="fullName" required />
            <div class="err"
              *ngIf="signupForm.get('fullName')?.hasError('required') && signupForm.get('fullName')?.touched">
              Full Name is required.
            </div>
          </div>
          <div class="field">
            <input type="text" placeholder="Email address" formControlName="email" required />
            <div class="err" *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched">
              Email is required.
            </div>
          </div>
          <div class="field">
            <input type="text" placeholder="Mobile Number" formControlName="phone" required />
            <div class="err" *ngIf="signupForm.get('phone')?.hasError('required') && signupForm.get('phone')?.touched">
              Full Name is required.
            </div>
            <div class="err" *ngIf="signupForm.get('phone')?.hasError('phone') && signupForm.get('phone')?.touched">
              Invalid phone number.
            </div>
          </div>
          <div class="field">
            <input type="password" placeholder="Password" formControlName="password" required />
            <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched">
              Password is required.
            </div>
            <div class="err"
              *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched">
              Password must be at least 6 characters.
            </div>
          </div>
          <div class="field">
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" formControlName="acceptTerms" />
            <label for="signupCheck">I accept all terms & conditions</label>
          </div>
          <div class="err"
            *ngIf="signupForm.get('acceptTerms')?.hasError('required') && signupForm.get('acceptTerms')?.touched">
            You must accept the terms and conditions.
          </div>
        </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Signup">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>